<%- include('partials/header') -%>

<h1>Quiz Results</h1>
    <p>Congratulations on finishing the quiz! Here's how you did:</p>
    
<p>Thanks for taking the quiz.</p>


<%- include('partials/footer') -%>