<%- include('partials/header') -%>

<h1>Quiz Results</h1>
    
<p>Congratulations on finishing the quiz! Here's how you did:</p>

<p>
    Your score is <span class="totalRightAnswer"></span> out of <span class="totalQuestions"></span>, or <span class="resultInPercentage"></span> Well done!
</p>

<p>Thanks for taking the quiz.</p>


<%- include('partials/footer') -%>
