<%- include('partials/header') -%>

<main class="container">
    <!-- <div class="row justify-content-around mt-5">
        <a href="/login" class="col-3 btn btn-primary"> Login</a>
        <a href="/signup" class="col-3 btn btn-primary"> Signup</a>
    </div> -->
    <div class="columns is-centered mt-5">
        <div class="column is-half has-text-centered">
            <a href="/login" class="button is-primary is-rounded is-large">Login</a>
            <a href="/signup" class="button is-primary is-rounded is-large">Signup</a>
        </div>
    </div>      
</main>
    

<%- include('partials/footer') -%>